* {
    font-family: 'Kalam', cursive;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1170px) {
    /* Navegación listas */
    nav {
        border: 1px white solid;
        background-color: wheat;
        display: flex;
        align-items: center
    }

    .row{
        width: 100%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 98%;
        margin-left: 12px;
    }

    .lista {
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        float: left;
    }
    .lista:hover{
        background-color: #efc872;
        color: white;
    }

    .activa{
        border-bottom: 5px black solid;
    }

    .relative{
        position: relative;
    }
    body{
        background-image: url("../imatges/boto.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5%;
        height: 100%;
        width: 100%;
    }
    .suro{
        visibility: hidden;
        position: relative;
        transform: rotate(90deg);
    }
    .boto{
        width: 100%;
        margin-left: 2.5%;
        text-align: center;
        margin-top: -20%;
    }
    .suro_inside{
        position: absolute;
        padding: 5%;
        width: 80%;
        height: 400px;
        overflow-y: scroll;
    }
    .header{
        margin-top: 100px;
    }
    .img_phone{
        height: 100%;
    }
    .list{
        color: white;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .nota{
        position: absolute;
        top: 10px;
        left: 10px;
    }

    ul {
        margin: 0;
        padding: 0;
    }
    .contents{
        display: contents;
    }
    li {
        cursor: pointer;
        position: relative;
        padding: 12px 40px 25px 20px;
        list-style-type: none;
        font-size: 18px;
        transition: 0.2s;
        height: 100px;
        width: 100%;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        user-select: none;
        background: white;
        hyphens: auto;
        border-top: 5px solid black;
    }

    li:hover {
        background: ghostwhite;
    }

    li.checked {
        background: dimgray;
        color: #fff;
        text-decoration: line-through;
    }

    li.checked::before {
        position: absolute;
        top: 16px;
        left: 16px;
        border-color: greenyellow;
        border-width: 0 2px 2px 0;
        border-style: solid;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
        content: "";
    }

    .invisible {
        display: none;
    }

    .cierra {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 12px 10px 12px;
    }

    .cierra:hover {
        background-color: red;
    }

    .edit {
        position: absolute;
        right: 0;
        top: 45px;
        padding: 10px 12px 10px 12px;
    }

    .edit:hover {
        background-color: #c2bebe;
    }


    /* <----------- Boton tareas ------------> */
    .addTarInp {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }

    .addBtnTar {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }

    .addBtn:hover {
        background-color: #bbb;
    }

    /* <----------- Boton listas ------------> */
    .botList {
        display: flex;
        float: right;
    }
    .addLisInp {
        padding: 10px;
        float: left;
        font-size: 16px;
        width: 220px;
    }

    .addBtnLis {
        padding: 10px;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }

    .addBtn:hover {
        background-color: #bbb;
    }


    /* <----------- Boton editar tareas ------------> */


    .editBoto {
        display: none;
    }
    .editTaskInp {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }

    .editBtnTar {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
    .editBtnTar:hover {
        background-color: #bbb;
    }

}

@media (min-width: 1170px) {
    /* Navegación listas */
    nav {
        border: 1px white solid;
        background-color: wheat;
        display: flex;
        align-items: center;
        margin-left: 12px;
    }

    .row{
        width: 100%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 98%;
        margin-left: 12px;
    }

    .lista {
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        float: left;
    }
    .lista:hover{
        background-color: #efc872;
        color: white;
    }

    .activa{
        border-bottom: 5px black solid;
    }

    .relative{
        position: relative;
    }
    body{
        background-image: url("../imatges/pizarra.jpg");
        background-repeat: repeat;
        background-size: cover;
        position: fixed;
        padding: 5%;
        height: 100%;
        width: 100%;
    }
    .suro_inside{
        position: absolute;
        padding: 0% 5%;
        width: 60%;
        height: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        overflow-y: scroll;
    }
    .suro{
        position: relative;
    }
    .boto{
        background-image: url("../imatges/boto.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 20%;
        display: inline-block;
        height: 850px;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .header{
        margin-top: 100px;
    }
    .list{
        color: white;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .nota{
        position: absolute;
        top: 10px;
        left: 10px;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        cursor: pointer;
        position: relative;
        padding: 12px 40px 25px 20px;
        list-style-type: none;
        font-size: 18px;
        transition: 0.2s;
        height: 175px;
        width: 20%;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        user-select: none;
        background: white;
        hyphens: auto;
    }

    li:hover {
        background: ghostwhite;
    }

    li.checked {
        background: dimgray;
        color: #fff;
        text-decoration: line-through;
    }

    li.checked::before {
        position: absolute;
        top: 16px;
        left: 16px;
        border-color: greenyellow;
        border-width: 0 2px 2px 0;
        border-style: solid;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
        content: "";
    }

    .invisible {
        display: none;
    }

    .cierra {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 12px 10px 12px;
    }

    .cierra:hover {
        background-color: red;
    }

    .edit {
        position: absolute;
        right: 0;
        top: 45px;
        padding: 10px 12px 10px 12px;
    }

    .edit:hover {
        background-color: #c2bebe;
    }


    /* <----------- Boton tareas ------------> */
    .addTarInp {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }

    .addBtnTar {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }

    .addBtn:hover {
        background-color: #bbb;
    }

    /* <----------- Boton listas ------------> */
    .botList {
        display: flex;
        float: right;
    }
    .addLisInp {
        padding: 10px;
        float: left;
        font-size: 16px;
        width: 220px;
    }

    .addBtnLis {
        padding: 10px;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }

    .addBtn:hover {
        background-color: #bbb;
    }


    /* <----------- Boton editar tareas ------------> */


    .editBoto {
        display: none;
    }
    .editTaskInp {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }

    .editBtnTar {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }

    .editBtnTar:hover {
        background-color: #bbb;
    }

    .oa{
        overflow: auto;
        background-color: transparent;
    }
}



.w100{
    width: 100%;
}
.w95{
    width: 90%;
}
.w60{
    width: 60%;
}
.w30{
    width: 30%;
}
.w10{
    width: 10%;
}
.fl{
    float: left;
}
.style_margin{
    margin-left: 5%;
}

